*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height: 100%;
}

#container{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  background-color: rgb(62, 29, 87);
  color: white;


}

#first{
color: rgb(157, 126, 184);
}