/* 
div{
    height: 100px;
    width: 100px;
    border: 5px solid rgb(25, 9, 163);
    background-color: rgb(33, 210, 30);
    background-color: #7fb1f8;
    color: rgb(255, 253, 252);
    font-size: 25px;
    font-family: cursive;
    font-weight: normal;
    padding: 30px;
    margin: 5px;
    margin-top: 100px;
    border-radius: 2px;
    border-color: black;
    border-style: solid; 
     border: border-radius style color ; 
}  */
/* # for id and . for class */

.box{
    border: 2px solid black;
    height: 100px;
    width: 100px;
    color: rgb(0, 0, 0);
    font-family: cursive;
    /* background-color: brown; */
}

#a{
    background-color: aquamarine;
    margin-bottom: 100px;
}

#b{
    margin-top: 10px;
    background-color: burlywood;
}

table{
    align-items: center;
}