* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  background: #0b0f1a;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.background {
  position:absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 20% 30%, #1a2a6c, transparent 40%),
              radial-gradient(circle at 80% 70%, #5f2c82, transparent 40%),
              #0b0f1a;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 450px;
  height: 550px;
  padding: 30px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 40px rgba(0,0,0,0.5);
  color: #fff;
}


.vanillatask {
  font-size: 25px;
  color: #8ab4ff;
  margin-bottom: 30px;
  
}

.card h1 {
  font-size: 30px;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 13px;
  color: #aaa;
  margin-bottom: 40px;
}

label {
  font-size: 15px;
  color: #ccc;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0px 15px;
  border: #000;
  border-radius: 50px;
  background: #e5e7eb;
  
}


.passwords {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.passwords a {
  font-size: 15px;
  color: #8ab4ff;
  text-decoration: none;
}
button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, #5f9cff, #9b5cff);
  color: white;
  font-weight: bold;
  margin-top: 15px;
}

button:hover {
  opacity: 0.8;
}


.login{
  font-size: 12px;
  text-align: center;
  margin-top: 25px;
  color: #aaa;
}

.login a {
  color: #8ab4ff;
  text-decoration: none;
}