table{
#a{
    margin-bottom:100 px ;
}
#b{
    margin-top:10 px ;
    background-color: blanchedalmond;
}
}
#red{
    color: red;
}
#blue{
    color: blue;
}
#yellow{
    color: yellow;
}
#green{
    color: green;
}