h1 {
  background: linear-gradient(
    25deg,
    #f9bf1f,
    #cc14f1,
    #0e6bf6,
    #e40808,
    #ed3ae1,
    #f9bf1f,
    #3b82f6
  );
  text-align: center;
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: shimmer 3s linear infinite;
}

@keyframes shimmer {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}